.header {
    padding-top: 15px;
    background-color: #070A0F;
    color: #fff;
    position: sticky;
    top: 0;
    transition: top 0.7s;
    z-index: 999;
    &--hidden {
        top: -80px;
        &:hover {
            top: 0;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        &-image {
            width: 70px;
            height: 70px;
        }
    }
    &__list {
        height: 100%;
        display: flex;
        font-family: 'Abel';
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        align-items: center;
        &-item {
            margin-left: 45px;
        }
    }
}